# vim: noexpandtab sw=8
[user]
	name = Chansu Park
	email = hhosu107@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitexclude
	fscache = yes
	autocrlf = no
	quotepath = false
[color]
	ui = auto
[diff]
	renames = copies
	tool = vimdiff
[difftool]
	prompt = no
[fetch]
	prune = yes
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
[credential]
	helper = cache --timeout=3600
[credential "https://github.com"]
	username = hhosu107
[credential "http://bitbucket.org"]
	username = hhosu107
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[branch]
	autosetuprebase = always
[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
