[user]
	name = Chansu Park
	email = hhosu107@gmail.com
	signingkey = 3998157508838255811AF20540BA1C90C70C5C39
[alias]
	log = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

  # Checkout https://github.com/simnalamburt/cgitc for short aliases
  # git pr [<remote>]
  # Fetch pull requests from Github. Fetch "origin" if <remote> is not specified.
  #
  # Usage:
  # git pr
  # git pr other
  pr = "!_() { git config fetch.prune no && git fetch ${1:-origin} +refs/pull/*/head:refs/remotes/${1:-origin}/pr/*;  }; _"
  g = "log --graph --pretty='format:%C(auto)%h%d %s%x1b[38;5;022m% GS %x1b[38;5;239m%cr%x1b[0m'"
  h = "git log -p -M --follow"
[log]
	date = iso8601
[color]
	ui = auto
[diff]
	renames = copies
[fetch]
	prune = yes
[push]
	default = simple
[pull]
	rebase = true
[merge]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[rerere]
	enabled = yes
[stash]
	showPatch = true
[status]
	showStash = true
[submodule]
	fetchJobs = 0
[gpg]
	program = gpg
[include]
	path = ~/.gitconfig.local
